/src/backend/bootstrap/bootscanner.c
/src/backend/bootstrap/bootparse.c
/include/bootstrap/bootstrap_tokens.h
/src/backend/parser/gram.c
/src/backend/parser/scan.c
/include/parser/parse.h
/src/backend/catalog/global1.bki
/src/backend/catalog/local1_template1.bki
/include/fmgr.h
/src/backend/utils/fmgr/fmgrtab.c
